.labels{
  display: flex;
  justify-content: center;
  color: white;
  font-size: 35px;
  text-shadow: black 5px 0 10px;
}
.default {
  margin-bottom: 251px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
      }
.contactform{
  width: 50%;
padding: 1.5em 1em;
        border-radius: 0.3rem;
        font-size: 1.2rem;
      }
.contactform input,
.contactform textarea,
.contactform button {

  resize: none;
  width: 100%;
  padding: .5rem .3rem;
  margin: 0 0 0.8em;
  border-radius: 0.3rem;
  font-size: 1.5rem;
}
  .email{ padding: 10px;
    border-radius: 8px;
   background-color: antiquewhite;
    
    
  }
 .email::placeholder{
  background: #FFF;  
  
color:white;
  font-weight: 600;
font-size: 15px;
  }
  .usuario{ padding: 10px;
    border-radius: 8px;
    background: #FFF;
    
  }
 .usuario::placeholder{
  background: #FFF;
color:black;
  font-weight: 600;
font-size: 15px;
  }

  .boton{
    background: #fff;  
    
    padding: 10px;
    border-radius: 8px;
    margin-left: 15px;
    }
    .boton:hover{
      transition: all 0.8s ease;
      font-weight: 700;
      background: #e2a841;
        
    }
    
    @media only screen and (max-width: 768px) {
      .default {
        display: flex;
        width: 80%;
   }
   .contactform{
     width: 80%;
     padding: 1.5em 1em;
             border-radius: 0.3rem;
             font-size: 1.2rem;
           }
   .contactform input,
   .contactform textarea,
   .contactform button {
   
    font-size: 15px;
     resize: none;
     width: 100%;
     /* padding: .5rem .3rem; */
     margin: 1em 0 0;
     border-radius: 0.3rem;
     font-size: 1.5rem;
   }
   h1{
    font-size: 30px;
   }
      }

