<!DOCTYPE html>

<title>Edit BassGuitar</title>

{% block body %}
    <h1>Edit BassGuitar</h1>

    {{ include('bass_guitar/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_bass_guitar_index') }}">back to list</a>

    {{ include('bass_guitar/_delete_form.html.twig') }}
{% endblock %}
