<!DOCTYPE html>

<title>Edit Guitars</title>

{% block body %}
    <h1>Edit Guitars</h1>

    {{ include('guitars/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_guitars_index') }}">back to list</a>

    {{ include('guitars/_delete_form.html.twig') }}
{% endblock %}
