.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  flex-wrap: wrap;
  width: 80%;
}

.homephoto {
  width: 22;
  margin: 10px 5%;
  border: 1px solid white;
}
